<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.illusion.box" >

    <uses-sdk android:minSdkVersion="19"/>
    <original-package android:name="com.illusion.box" />

    <uses-permission android:name="android.permission.REBOOT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BIND_APPWIDGET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    <uses-permission android:name="android.permission.FORCE_STOP_PACKAGES"/>
    <uses-permission android:name="android.permission.GET_TOP_ACTIVITY_INFO"/>

    <application
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/application_theme_dark"
        android:uiOptions="none" >

        <uses-library android:name="org.cyanogenmod.hardware" required="false" />

        <activity
            android:name=".SettingsActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
       <activity
 	    android:name=".ShareToClipboard"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
 	    android:label="@string/title_clipboard_share" >
            <intent-filter>
 	         <action android:name="android.intent.action.SEND"/>

 	         <category android:name="android.intent.category.ALTERNATIVE"/>
 	         <category android:name="android.intent.category.DEFAULT"/>

 	         <data android:mimeType="text/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fragments.sb.InterfaceSettings"
            android:label="@string/status_bar_title" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.illusion.box.SHORTCUT" />
            </intent-filter>
        </activity>
        <!--activity
            android:name=".fragments.ButtonSettings"
            android:label="@string/button_pref_title" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.illusion.box.SHORTCUT" />
           </intent-filter>
       </activity-->
        <activity
 	    android:name=".CreateShortcut"
             android:theme="@style/Theme.CreateShortCut" >
 	  <intent-filter>
               <action android:name="android.intent.action.CREATE_SHORTCUT" />

        <receiver android:name=".com.illusion.box.BootReceiver" android:enabled="true">$
            <intent-filter android:priority="2147483647">$
                <action android:name="android.intent.action.BOOT_COMPLETED" />$
            </intent-filter>$
        </receiver>

  	       <category android:name="android.intent.category.DEFAULT" />
          </intent-filter>
        </activity>
        <receiver
            android:name=".service.ChangeFastChargeStateReceiver" >
            <intent-filter>
                <action android:name="com.illusion.box.ACTION_CHANGE_FCHARGE_STATE" />
            </intent-filter>
        </receiver>
        <service android:name=".service.ExternalCommandService"
            android:exported="false" />
    </application>
</manifest>
